<% layout("/layouts/boilerplate") %>
    <div class="row mt-3">
        <div class="col-md-8 offset-md-2">
            <h3>Edit this Listing</h3>
            <form method="POST" action="/listings/<%= listing._id%>?_method=PUT" novalidate class="needs-validation"
                enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" type="text" value="<%= listing.title%>" class="form-control"
                        required />
                    <div class="invalid-feedback fw-bold">
                        Title should be valid!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control"
                        required><%= listing.description %></textarea>
                    <div class="invalid-feedback fw-bold">
                        Please enter a short description.
                    </div>
                </div>
                <div class="mb-3">
                    <img src="<%= originalImageUrl %>" style="width: 250px; height: 250px;" />
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image</label>
                    <input name="listing[image]" type="file" class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Category</label>
                    <select id="category" class="form-select" name="listing[category][]" required>
                        <option value="Trending" <%=listing.category.includes('Trending') ? 'selected' : '' %>>Trending
                        </option>
                        <option value="Rooms" <%=listing.category.includes('Rooms') ? 'selected' : '' %>>Rooms</option>
                        <option value="Iconic Cities" <%=listing.category.includes('Iconic Cities') ? 'selected' : '' %>
                            >Iconic Cities</option>
                        <option value="Mountains" <%=listing.category.includes('Mountains') ? 'selected' : '' %>
                            >Mountains</option>
                        <option value="Castles" <%=listing.category.includes('Castles') ? 'selected' : '' %>>Castles
                        </option>
                        <option value="Amazing Pools" <%=listing.category.includes('Amazing Pools') ? 'selected' : '' %>
                            >Amazing Pools</option>
                        <option value="Camping" <%=listing.category.includes('Camping') ? 'selected' : '' %>>Camping
                        </option>
                        <option value="Farms" <%=listing.category.includes('Farms') ? 'selected' : '' %>>Farms</option>
                        <option value="Arctic" <%=listing.category.includes('Arctic') ? 'selected' : '' %>>Arctic
                        </option>
                        <option value="Domes" <%=listing.category.includes('Domes') ? 'selected' : '' %>>Domes</option>
                        <option value="Boats" <%=listing.category.includes('Boats') ? 'selected' : '' %>>Boats</option>
                    </select>
                    <div class="invalid-feedback fw-bold">
                        Please select a category!
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" type="number" value="<%= listing.price%>" class="form-control"
                            required />
                        <div class="invalid-feedback fw-bold">
                            Price should be valid!
                        </div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]" type="text" value="<%= listing.country%>" class="form-control"
                            required />
                        <div class="invalid-feedback fw-bold">
                            Country name should be valid!
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" type="text" value="<%= listing.location%>" class="form-control"
                        required />
                    <div class="invalid-feedback fw-bold">
                        Location should be valid!
                    </div>
                </div>
                <button class="btn btn-dark add-btn mt-3 mb-3">Edit</button>
            </form>
        </div>
    </div>